body {
	color: #292E34;
	background: #ECEEF1;
	padding: 0;
	margin:0;
	font-family: 'Roboto', sans-serif;
}

ul{
	margin:0;
	padding:0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #292E34;
}

nav{
	position: fixed;
	background: #292E34;
	top: 0;
	left: 0;
	bottom:0;
	width: 100px;
}

nav a{
	color:rgba(255, 255, 255, 0.3);
	padding-top: 20px;
	display: block;
	text-align: center;
	height: 70px;
	border-bottom: 1px solid rgba(255,255,255,.05);
}

nav a:hover{
	transition:1s;
	color: #86FF93;
	background:rgba(255,255,255,.1);
	border-bottom: 1px solid #86FF93;
}

nav i{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

nav li:last-child{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.container{
	margin-left: 100px;
	padding: 50px;
}

.homeIcon {
	background:rgba(0,0,0,.1);
	color: #86FF93;
}

i.fa.fa-trash:hover{
	color: #b94a48;
}
i.fa.fa-chevron-down:hover{
	color: #86FF93;
}

.error{
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #eed3d7;
}

.modal {
	margin: 5px 0px;
	padding: 5px;
	border-radius: 5px;
} 

.dashboard a,
.todos>li{
	background: #fff;
	padding: 30px;
	border-bottom: 1px solid #F2F2F2;
	width: 100%;
	max-width: 700px;
	box-sizing: border-box;
}

.dashboard a{
	background: #292E34;
	padding: 1%;
	color: #fff;
	float: left;
	margin-right: 1%;
	width: 30.33%;
	display:block;
	margin-bottom: 1%;
}

.dashboard a:hover{
	color: #86FF93;
}

form{
	width: 100%;
	max-width: 700px;
}

textarea,
input[type="password"],
input[type="text"]{
	box-sizing: border-box;
	display: block;
	border:1px solid #ddd;
	padding:30px;
	background: #fff;
	margin-bottom: 10px;
	width: 100%;
}

input.btn {
	background:#292E34;
	padding:20px;
	font-size: 125%;
	color:#fff;
	border:none;
	width: 100%;
}

input.btn:hover{
	color: #86FF93;
	cursor: pointer;
}