body {
	color: #292E34;
	background: #ECEEF1;
	padding: 0;
	margin:0;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

ul{
	margin:0;
	padding:0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #292E34;
}

h2{
	padding-top: 0;
	margin: 0;
}

nav{
	position: fixed;
	background: #292E34;
	top: 0;
	left: 0;
	bottom:0;
	width: 130px;
}

nav a{
	color:rgba(255, 255, 255, 0.3);
	padding-top: 40px;
	display: block;
	text-align: center;
	height: 90px;
	border-bottom: 1px solid rgba(255,255,255,.05);
}

nav a:hover{
	transition:1s;
	color: #86FF93;
}

nav i{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

nav li:last-child{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.container{
	margin-left: 130px;
	padding: 50px 80px;
}

i.fa.fa-trash:hover{
	color: #b94a48;
}
.edit:hover{
	color: #86FF93;
}

.error{
	color: #b94a48;
	background-color: #f2dede;
}

.modal {
	padding: 30px;
	width: 700px;
	box-sizing: border-box;
} 

.dashboard a,
.todos>li{
	background: #fff;
	padding: 30px;
	border-bottom: 1px solid #F2F2F2;
	width: 100%;
	max-width: 700px;
	box-sizing: border-box;
}

.dashboard a{
	background: #292E34;
	padding: 1%;
	color: #fff;
	float: left;
	margin-right: 1%;
	width: 49%;
	display:block;
	margin-bottom: 1%;
	max-width: 100%;
}

.dashboard a:hover{
	color: #86FF93;
}

form{
	width: 100%;
	max-width: 700px;
}

textarea,
input[type="password"],
input[type="text"]{
	box-sizing: border-box;
	display: block;
	border: none;
	border-bottom: 1px solid #F2F2F2;
	padding: 30px;
	background: #fff;
	/* margin-bottom: 10px; */
	width: 100%;
}

input.btn {
	background:#292E34;
	padding:20px;
	font-size: 125%;
	color:#fff;
	border:none;
	width: 100%;
}

input.btn:hover{
	color: #86FF93;
	cursor: pointer;
}

li>p{
	color:#999;
}

.edit{
	margin-right: 30px;
}