body{
	background: #2c3e50;
	font-family: 'Roboto', sans-serif;
	line-height: 3em;
}

h1{
	font-size: 300%;
	background:#f2f2f2;
}

h2{
	font-size: 200%;
	padding: .5em 0;
}

p{
	font-size: 100%;
}

.container{
	width: 1000px;
	margin: 50px auto;
	min-height: 1px;
	background:#f0f0f0;
	padding:50px;
	border-radius: 3px;
}

*{
	box-sizing:border-box;
}

a{
	text-decoration: none;
	padding:1em;
	color: #111;
}

li:after{
	content:"";
	width: 100%;
	display:block;
	line-height: 0;
	clear: both;
}

.verwijder{
	float:right;
	width: 5%;
}

.verwijder,
.toDone,
.toTodo{
	transition:.3s background,.3s color;
	background:#fff;
	border-bottom: 2px solid #f5f5f5;
}

.toTodo:hover,
.toDone{
	display:block;
	width: 95%;
	float: left;
	color:#111;
}

.toTodo,
.toDone:hover{
	display:block;
	float: left;
	width:95%;
	color: #4EB17B;
}

.verwijder:hover{
	color: #CD3B2E;
}

.verwijder:hover,
.toDone:hover,
.toTodo:hover{
	background:#f8f8f8;
}

input[type="text"],
input[type="submit"]{
	background: #3498db;
	padding:1em;
	border:none;
	border-radius: 3px;
	transition:.3s background, .3s color;
	margin: 20px 0;
}

input[type="text"]{
	background: #ccc;
}

input[type="submit"]:hover{
	color: #333;
	background:#2980b9;
	cursor: pointer;	
}

.error{
	color: #CD3B2E;
}